<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
          <ul id="Footer-icons">
            <li class="white-text follow-adjust">Follow Me &nbsp;</li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/FunkyGeorge" target="_blank"><img class="icon" src="./assets/img/39062.png"></a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/george-miranda-462a47114/" target="_blank"><img class="icon" src="./assets/img/linkedin.png"></a></li>
            <li><a class="grey-text text-lighten-3" href="https://twitter.com/funky_George" target="_blank"><img class="icon" src="./assets/img/twitter.png"></a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/georgeoffunk/" target="_blank"><img class="icon" src="./assets/img/instagram.png"></a></li>
          </ul>
          <h5 class="white-text">Contact Me</h5>
          <input class="col s7" [(ngModel)]="tempEmail" type="email" style="background-color: white; border-radius: 4px; color: black;" />
          <button class="btn col s6" (click)="toggleModal()">Submit</button>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="./assets/files/Resume.pdf" target="_blank">View Resume</a></li>
          <li><a class="grey-text text-lighten-3" href="./assets/files/Resume.doc" target="_blank">Download Resume</a></li>
        </ul>
        <div class="spacer"></div>
      </div>
    </div>
  </div>
  <div class="footer-copyright"></div>
</footer>

<form [formGroup]="userForm" (ngSubmit)="send()" id="Modal" [class.hidden]="!stateFlags[0]">
  <div class="input-field">
    <input formControlName="email" name="email" type="email" id="email" placeholder="email" />
  </div> 
  <div class="input-field">
    <label for="name">Name</label>
    <input formControlName="name" name="name" type="text" id="name" />
  </div>
  <div class="input-field">
    <label for="phone">Phone (optional)</label>
    <input (input)="formatNumber($event.data)" formControlName="phone" name="phone" type="text" id="phone" />
  </div>
  <div class="input-field">
    <label for="msg">Message</label>
    <textarea formControlName="msg" name="msg" id="msg" style="height: 7em"></textarea>
  </div>
  <input class="btn" type="submit" />
</form>
