<!-- About portion -->
<div class="container">
  <div class="row">
    <div class="col m12">
      <h2 class="center-align header">About George</h2>

      <!-- Photos -->
      <div class="center-align">
        <img id="Under-left" class="rounded-image z-depth-1" src="./assets/img/george_resized.png" alt="">
        <img id="Overlap-image" class="rounded-image z-depth-4" src="./assets/img/git_thinker.jpg" alt="">
        <img id="Under-right" class="rounded-image z-depth-1" src="./assets/img/snowboarding.jpg" alt="">
        <div class="spacer"></div>
        <div class="spacer"></div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col m7">

      <h3 class="center-align">Experience</h3>
      <p class="flow-text">
        I grew up being both an athlete and a scholar in school. This most definitely had an effect on my work ethic
        since I am so competitive now. I went to school for computer science, but I was unhappy about the pace I was learning.
        Instead of continuing with academics I decided to find a job where I could utilize what I picked up and start
        gaining practical experience. Although my first job in tech consisted of coding in C# and using databases, I
        always wanted more from my career.
      </p>
      <p class="flow-text">
        My path has taken not taken me through a formal education, but it has directed me into a career of learning through
        hard work. I had a basic knowledge of coding, but it wasn't until I attended a coding bootcamp where I learned how
        to make creations. Now I'm a software developer for a small startup where I can make a big impact and continue to 
        grow everyday.
      </p>

      <div class="spacer"></div>

      <h3 class="center-align">Hobbies</h3>
      <p class="flow-text">
        Almost anything tech related will geek me out. Coding, video games, hardware, smart devices and connected home appliances
        are all things that interest me. I have taken a liking to PC building after I finally was able to afford 
        to afford enough parts. Believe it or not, I do step away from my computer sometimes.  When I do, I like
        watching sports, snowboarding, and paintballing
      </p>
    </div>
    <div class="col m4 offset-m1">
      <h3 class="center-align header">Additional Skills</h3>
      <div class="row center-align">
        <div class="col m12">
          <h4>Front-End</h4>
          <ul>
            <li>Reactjs</li>
            <li>Angular 2</li>
            <li>Angularjs</li>
            <li>Javascript</li>
            <li>HTML/CSS</li>
          </ul>
        </div>
        <div class="col m12">
          <h4>Back-End</h4>
          <ul>
            <li>Nodejs</li>
            <li>AWS/EC2 Deployment</li>
            <li>Javascript</li>
            <li>Python</li>
            <li>APIs</li>
          </ul>
        </div>
        <div class="col m12">
          <h4>Databases</h4>
          <ul>
            <li>MySQL Workbench</li>
            <li>MySQL</li>
            <li>MS SQL Server</li>
            <li>MongoDB</li>
          </ul>
        </div>
        <div class="col m12">
          <h4>Native</h4>
          <ul>
            <li>React-Native</li>
            <li>iOS</li>
            <li>Swift</li>
            <li>.NET Framework</li>
            <li>C#</li>
            <li>Java</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer"></div>

</div>