<div class="white-background z-depth-3">
  <div class="container">
    <h2 class="center-align header">Specialties</h2>
    <div class="row center-align">
      <div class="col m4">
        <img class="responsive-img" src="./assets/img/MEANimage.png" alt="MEAN" width="100%" height="auto">
        <h4>MEAN Stack</h4>
        <p>
          I have been using the MEAN stack in my most recent projects.
          Just check out Froxxi, Evergreen and GDND in my showcase.  Although
          I am skilled with Nodejs in the back-end and using RESTful routes, I spend
          most of my time in the front-end with ReactJS.  My focus is always on
          UX by making sure the front end operates efficiently, with no hiccups.
        </p>
      </div>
      <div class="col m4">
        <img class="responsive-img" src="./assets/img/react_logo.png" alt="Databases" width="32%" height="auto">
        <h4>React</h4>
        <p>
          Early in my development career I started writing react-javascript to
          create mobile applications. My job now requires me to stay up to date
          with React on both mobile and web. I have created several mobile apps,
          both for work and for fun. I also maintain a ReactJS website, which is 
          super fast for users.
        </p>
      </div>
      <div class="col m4">
        <img class="responsive-img" src="./assets/img/AWSimage.png" alt="Dev Ops" width="80%" height="auto">
        <h4>Deployment</h4>
        <p>
          One of my earliest responsibilities as a full stack developer was to
          deploy our website into the cloud. My service of choice was AWS. After I
          deployed our websites, I was the person to update and monitor them for issues.
          Since then, I have now adopted safer and faster ways to manage our servers.
          This includes monitors, load balancing, and auto-scaling for our services.
          I am comfortable with S3 buckets, EBS, EC2, Lambda, and RDS.
        </p>
      </div>
    </div>
  </div>
</div>
