<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
          <ul id="Footer-icons">
            <li class="white-text follow-adjust">Follow Me &nbsp;</li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/FunkyGeorge" target="_blank"><img class="icon" src="./assets/img/39062.png"></a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/george-miranda-462a47114/" target="_blank"><img class="icon" src="./assets/img/linkedin.png"></a></li>
            <li><a class="grey-text text-lighten-3" href="https://twitter.com/funky_George" target="_blank"><img class="icon" src="./assets/img/twitter.png"></a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/georgeoffunk/" target="_blank"><img class="icon" src="./assets/img/instagram.png"></a></li>
          </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="./assets/files/Resume.pdf" target="_blank">View Resume</a></li>
        </ul>
        <div class="spacer"></div>
      </div>
    </div>
  </div>
  <div class="footer-copyright"></div>
</footer>
