.error {
    color: darkred;
}

.hidden {
    display: none;
}

.inputError{
    border-color: darkred;
    box-shadow: darkred;
}

.input-field input.invalid {
    border-bottom: 1px solid darkred;
    box-shadow: 0 1px 0 0 darkred;
}

#Modal {
    background-color: rgba(25, 25, 25, 0.99);
    position: fixed;
    border-radius: 4px;
    width: 80%;
    height: 60%;
    margin: 40px;
    padding: 20px;
    z-index: 10;
    bottom: 10px;
    text-align: center;
}

.success {
    color: green;
}