<!-- About portion -->
<div class="container">
  <div class="row">
    <div class="col m12">
      <h2 class="center-align header">About George</h2>

      <!-- Photos -->
      <div class="center-align">
        <img id="Under-left" class="rounded-image z-depth-1" src="./assets/img/george_resized.png" alt="">
        <img id="Overlap-image" class="rounded-image z-depth-4" src="./assets/img/git_thinker.jpg" alt="">
        <img id="Under-right" class="rounded-image z-depth-1" src="./assets/img/snowboarding.jpg" alt="">
        <div class="spacer"></div>
        <div class="spacer"></div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col m7">

      <h3 class="center-align">Experience</h3>
      <p class="flow-text">
        Almost all my life, I grew up in Patterson where I used to drive to my first job in 30 minutes and
        drive to college in 40. I went to school for computer science, but I was unhappy about the pace I was learning.
        Instead of continuing with academics I decided to find a job where I could utilize what I picked up and start
        gaining practical experience. Although my first job in tech consisted of coding in C# and using databases, I
        always wanted more from my career.
      </p>
      <p class="flow-text">
        After working in a basic tech job for a year, I wanted to make another jump and further my career.  I went back
        to school at Coding Dojo, a coding bootcamp.  While there, I was able to learn with the satisfaction of building
        things.  I now work in a group with three other developers doing freelance work.
      </p>

      <div class="spacer"></div>

      <h3 class="center-align">Hobbies</h3>
      <p class="flow-text">
        Almost anything tech related will geek me out. Coding, video games, hardware, smart devices and connected home appliances
        are all things that interest me. Otherwise, I wouldn't be able to spend most days and nights in front of a monitor. However,
        when I get the chance I also like to go paintballing during the summer, snowboarding during the winter and playing the guitar
        when I am stuck at home.
      </p>
    </div>
    <div class="col m4 offset-m1">
      <h3 class="center-align header">Additional Skills</h3>
      <div class="row center-align">
        <div class="col m12">
          <h4>Front-End</h4>
          <ul>
            <li>Angularjs</li>
            <li>Javascript</li>
            <li>Bootstrap</li>
            <li>Materialize</li>
            <li>HTML</li>
            <li>CSS</li>
          </ul>
        </div>
        <div class="col m12">
          <h4>Back-End</h4>
          <ul>
            <li>Nodejs</li>
            <li>AWS/EC2 Deployment</li>
            <li>Javascript</li>
            <li>Python</li>
            <li>APIs</li>
          </ul>
        </div>
        <div class="col m12">
          <h4>Databases</h4>
          <ul>
            <li>MySQL Workbench</li>
            <li>MySQL</li>
            <li>MS SQL Server</li>
            <li>MongoDB</li>
          </ul>
        </div>
        <div class="col m12">
          <h4>Native</h4>
          <ul>
            <li>iOS</li>
            <li>Swift</li>
            <li>React-Native</li>
            <li>.NET Framework</li>
            <li>C#</li>
            <li>Java</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer"></div>

</div>