<div class="white-background z-depth-3">
  <div class="container">
    <h2 class="center-align header">Specialties</h2>
    <div class="row center-align">
      <div class="col m4">
        <img class="responsive-img" src="./assets/img/MEANimage.png" alt="MEAN" width="100%" height="auto">
        <h4>MEAN Stack</h4>
        <p>
          I have been using the MEAN stack in my most recent projects.
          Just check out Froxxi, Evergreen and GDND in my showcase.  Although
          I am skilled with Nodejs in the back-end and using RESTful routes, I spend
          most of my time in the front-end with Angularjs.  My focus is always on
          UX by making sure the front end operates efficiently, with no hiccups.
        </p>
      </div>
      <div class="col m4">
        <img class="responsive-img" src="./assets/img/DBimage.png" alt="Databases" width="32%" height="auto">
        <h4>Databases</h4>
        <p>
          Since the beginning of my career in tech, I have been working with
          databases.  It started with using MS SQL Server, which gave me a solid
          foundation to learn even deeper skills in SQL.  My knowledge carried
          over into MySQL where I am now creating procedures, views, functions
          and advanced for my teams.
        </p>
      </div>
      <div class="col m4">
        <img class="responsive-img" src="./assets/img/AWSimage.png" alt="Dev Ops" width="80%" height="auto">
        <h4>Deployment</h4>
        <p>
          Although this is the newest skill to me, I love it very much.
          I have deployed many applications to Amazon Web Services for both
          myself as well as my teams now.  I have become comfortable with deploying
          applications on my own and even solo debugging issues that sometimes only
          appear once the are up in the cloud.
        </p>
      </div>
    </div>
  </div>
</div>
