<div class="container">
  <h1 class="center-align">George Miranda</h1>
  <h4 class="center-align" style="color: lightgrey"><em>Full Stack Web Developer</em></h4>

  <div class="center-align">
    <!-- <img class="circle-image z-depth-3" src="./static/img/portrait.jpg" width="30%" height="auto" alt=""> -->
    <img class="rounded-image z-depth-3" src="./assets/img/hiking.jpg" width="30%" height="auto" alt="">
  </div>

  <p class="flow-text center-align">
    I am a full stack developer that works for a small freelancing agency in the silicon valley. 
    I have gained my skills from my own personal interest, research and by attending an onsite bootcamp at Coding Dojo.
    My interest in technology has driven my career into something that is exciting and always moving forward.
    When you have a job doing what you love, you never work a day in your life. I will always love coding and 
    the only thing I could ask for is the opportunity to code some more.
  </p>

  <div class="spacer"></div>
</div>
<app-specialties></app-specialties>
<app-showcase></app-showcase>
<app-about></app-about>
<app-footer></app-footer> 
